  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;900&display=swap');

  * {
margin: 0;
font-family: "Inter";
color: rgb(32, 32, 32);
}
.navbar {
padding: 24px;
width: 100%;
display: flex;
align-items: center;
border-bottom: 1px solid rgb(221, 221, 221);
}
.navbar h1 {
  color: rgb(32, 32, 32);
}

.navbar .links {
  margin: auto;
}

.navbar a {
margin-left: 24px;
text-decoration: none;
padding: 8px;
}
.navbar a:hover {
  color: brown;
}
.content {
  width: 100%;
  margin: 24px auto;
  padding: 24px;
}





